.navbar {
  margin: 0 2%;
  display: flex;
  justify-content: space-between;
  padding: 0 8px;
  align-items: center;
  height: 60px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
}

.logo img {
  border-radius: 50%;
}

.navbar ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.navbar ul li a {
  margin: 5px 10px;
}

.navItems {
  margin-right: 10%;
}
.navItems a {
  color: #000;
  font-weight: bolder;
}
